@page 
@model IndexModel 
@{ ViewData["Title"] = "Home page"; }

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet commodo neque, nec finibus nisi. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut turpis mi, sodales ac consequat fermentum,
    consectetur ac velit. Nam eget tortor non metus cursus molestie a vel eros. Sed a ultricies eros, eu porta urna. Donec
    laoreet hendrerit dignissim. Aenean risus dui, elementum cursus molestie ut, egestas quis lectus. Sed sed nunc quis velit
    bibendum hendrerit. Curabitur vel leo maximus, bibendum velit quis, egestas nunc.
</p>
<p>
    Donec tristique odio sed odio fermentum molestie. Vestibulum eu urna blandit, tincidunt metus vel, gravida arcu. Maecenas
    id blandit dolor, in pellentesque leo. Phasellus ut lectus quis nisi gravida venenatis. Nunc dictum, est vitae auctor
    rhoncus, neque erat venenatis sem, id dictum turpis nibh et neque. Sed non mauris eget metus sodales suscipit. Mauris
    quis arcu nulla. Sed nibh quam, rhoncus eget ullamcorper sit amet, commodo eget lacus. Integer sollicitudin nunc a arcu
    elementum convallis. Nulla mattis velit in tellus malesuada lobortis. Ut rhoncus sagittis nibh, a commodo ex elementum
    nec. Aliquam nulla quam, semper sit amet iaculis vel, suscipit cursus turpis. Etiam laoreet, mauris non imperdiet cursus,
    justo ipsum aliquam neque, quis accumsan massa tellus sit amet eros. Vivamus tristique diam neque, et molestie ipsum
    tincidunt iaculis.
</p>